body{
    color: $textColor;
    font-family: $font;
    background-color: $backGround;
    header{
        display: flex;
        margin-bottom: 30px;
        .logo{
            width: 40%;   
        }
        nav{
            text-align: center;
            width: 60%;
            justify-content: space-around;
            display: flex;
            border-bottom: 1px solid $line;
            border-top: 1px solid black;
            margin-bottom: 25px;
            align-self: flex-end;
            vertical-align: middle;
            a{
                text-decoration: none;
                color: $buttonColor;
                line-height: 55px;
            }
        }
    }
    input, textarea{
        width: 98%;
        margin-bottom: 20px;
    }
    .main-wrapper{
        padding-left: 12%;
        padding-right: 12%;
    }
    h1, h3, .contact-form h4, button, nav{
        text-transform: uppercase; 
    }
    p{
        line-height: 150%;
    }
}
div{
    .post-list{
        clear: both;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 50px;
        article{
            margin-bottom: 25px;
            width: 46%;
            background-color: $articleBackGround;
            padding: 10px;
            h3{
                margin-top: 0px;
                padding-top: 10px;
                border-top: 1px solid #94928C;
            }
            div{
                margin-left: 10px;
                margin-right: 10px;
            }
            h3{
                color: $h2TextColor;
            }
        }
    }
    img{
        width: 100%;
    }
}
button, .toolbar input{
    float: right;
    width: 15%;
    height: 35px;
}
button{
    background-color: $buttonColor;
    color: white;
    border: none;
    h1{
        margin-bottom: 0px;
    }
}
footer{
    clear: both;
    span{
        font-size: 12px;
    }
}
.formGroup {
    input{
    padding-left: 15px;
    height: 35px;
    }
}
#contact_message{
    padding-left: 15px;
    width: 98%;
    padding-top: 10px;
}
.contact-form, .about{
    h1, h4{
        color: $buttonColor;
        text-align: right;
    }
}
.contact-form{
    h4{
        margin-top: 5px;
    }
    h1{
        margin-bottom: 0px;
    }
}
.about{
    margin-bottom: 60px;
}
.post-description{
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 13px;
    color: $h2TextColor;
}
.toolbar{
    input{
        padding-left: 15px;
        color: $buttonColor;
        border: 1px solid $buttonColor;
    }
    ::placeholder {
        color: $buttonColor;
       
    }
}
textarea{
    font-size: 14px;
}